* {
    margin: 0;
    padding: 0;
    outline: 0;
 }

 header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

 body {
    margin: 40px;
 }

 .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
 }

 p {
    margin: 5px 0 15px;
 }

 .movie-container {
    display: flex;
    flex-direction: column;
    width: 32%;
    margin: 40px 0;
 }

img {
    width: 100%;
    aspect-ratio: 4/3;
    margin-right: 30px;
}

button {
    background-color: white;
    border: thin solid;
    padding: 10px;
    margin: 20px 0;
    width: 200px;
    height: 40px;
}

a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    margin: 0 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

input {
    margin: 3px;
    height: 25px;
    width: 20%;
}
